nav ul li {
    padding: 0 40px 0 40px;
}

.active {
    text-decoration: underline;
    font-weight: bold;
}

.defaultLink {
    text-decoration: none;
    color: black;
}

.defaultLink:hover {
    color: blue
}